/****************************************************************************************************
    (1) button's
    (2) link's
*/


// button's
.btn__outline{
    border: $main-color 1px solid ;
    padding: 1rem 1.8125rem;
    color: $main-color;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    &:hover{
        background-color: $main-color;
        color: $white;
    }
    @media #{$sm-layout} {
        padding:0.7rem 1rem ;
    }
}

.btn__solid-light{
    background-color: $white;
    border: $main-color 1px solid ;
    padding: .7rem 1rem;
    color: $main-color;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    &:hover{
        background-color: $gray;
        color: $main-color;
    }
    @media #{$sm-layout} {
        padding:0.7rem 1rem ;
    }
}
.btn__solid{
    background-color: $main-color;
    border: $main-color 1px solid ;
    padding: 0.7rem 1.2rem;
    color: $white;
    text-align: center;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    &:hover{
        background-color: $light-gray;
        color: $main-color;
    }
    @media #{$sm-layout} {
        padding:0.7rem 1rem ;
    }
}
.btn__solid-success{
    background-color: $success;
    border: $success-dark 1px solid ;
    padding: 0.7rem 1.2rem;
    color: $white;
    text-align: center;
    border-radius: .25rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    &:hover{
        background-color: $light-gray;
        color: $success;
    }
    @media #{$sm-layout} {
        padding:0.7rem 1rem ;
    }
}

.carusel__btn {
    display: grid;
    width: 32px;
    background-color: $body-color;
    border: 1px solid $main-color;
    aspect-ratio: 1;
    place-content: center;
    place-items: center;
    border-radius: 100%;
    position: absolute;
}


//! cards 

.course__card {
    max-width: fit-content;
    background-color: $white;
    margin-inline:auto ;
    .course__info{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        p{
            font-size: 14px;
            font-weight: medium;
        }
        ul{
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            margin-block: 1rem;
            li{
                display: flex;
                align-items: center;
                gap: .7rem;
            }
        }

    }
}