.courses__list {
    background-color: $gray-2;
    padding-block: 3rem;
    .title {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
        p{
            font-size: 1.25rem;
        }
    }
    .courses__container {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(320px , 1fr));
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .course__card {
            max-width: fit-content;
            background-color: $white;
            margin-inline:auto ;
            .course__info{
                padding: 1rem;
                display: flex;
                flex-direction: column;
                p{
                    font-size: 14px;
                    font-weight: medium;
                }
                ul{
                    display: grid;
                    grid-template-columns: repeat(2 , 1fr);
                    margin-block: 1rem;
                    li{
                        display: flex;
                        align-items: center;
                        gap: .7rem;
                    }
                }

            }
        }
    }
}