.header__style1-container{
    background-color: $light-gray;
    display: flex;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-content: space-between;
    align-items: center;
    .header__content {
        display: flex;
        gap: 2rem;
        padding-inline-start:2rem ;
        height: 100%;
        .content{
            max-width: 40rem;
            gap: 2rem;
            // p:not(p.intro){
            //     padding-top: 1rem;
            // }
        }
        .shabe {
            padding-top: 2rem;
        }
        .btn__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    @media #{$lg-layout} {
        .intro ,.header__image {
            display: none;
        }
        .shabe{
            display: none;
            img{
                display: none;
            }
        }
        .header__content{
            text-align: center;
            padding-inline: 1rem;
        }
        .content{
            justify-content: center;
            .btn__container{
                justify-content: center;
                padding-top: 1rem;
                .arrow__container {
                    display: none;
                }
            }
        }
    }
}


// header style 2
.header__style2-container{
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header__content {
        display: flex;
        gap: 1rem;
        padding-inline-start:2rem ;
        height: 100%;
        margin-inline-end:auto ;
        .content{
            max-width: 40rem;
            gap: 2rem;
        }
        h1{
            padding-block: 1rem 2rem;
        }
        .shabe {
            padding-top: 3rem;
            display: flex;
            align-items: center;
        }
        .btn__container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top:2rem ;
        }
    }
    @media #{$lg-layout} {
        .intro ,.header__image {
            display: none;
        }
        .shabe{
            display: none;
            img{
                display: none;
            }
        }
        .header__content{
            text-align: center;
            padding-inline: 1rem;
        }
        .content{
            justify-content: center;
            .btn__container{
                justify-content: center;
            }
        }

    }
}

// header style 3
.header__style3 {
    margin-inline: 2rem;
    .header__style3-container{
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 3rem;
        gap: 2rem;
        .header__content {
            display: flex;
            gap: 1rem;
            padding-inline-start:2rem ;
            height: 100%;
            margin-inline-end:auto ;
            .content{
                max-width: 40rem;
                gap: 2rem;
            }
            h1{
                padding-block: 1rem 2rem;
            }
            .shabe {
                padding-top: 3rem;
                display: flex;
                align-items: center;
            }
            .btn__container {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-top:2rem ;
            }
        }
        .header__image{ 
            position: relative;
            padding:0 2rem 2rem 0;
    
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            .card{
                position: absolute;
                right: 0;
                bottom: 0;
                padding:1rem 2rem;
                display: grid;
                border-radius: 5px;
                background-color: $main-color;
                display: grid;
                div{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: $white;
                    gap: 2rem;
                    h2{
                        font-size: 4.375rem;
                        color: $white;
                    }
                    span{
                        display: grid;
                        place-items: center;
                        background-color: $white;
                        width: 2rem;
                        aspect-ratio: 1;
                        border-radius: 100%;
                        color: $black;
                    }
                }
                p{
                    font-size: 1.5rem;
                    color: $white;
                }
            }
    
        }
        @media #{$lg-layout} {
            .shabe{
                display: none;
                img{
                    display: none;
                }
            }
            
        }
        @media #{$sm-layout} {
            .header__content{
                text-align: center;
                padding-inline: 1rem;
            }
            .intro ,.header__image {
                display: none;
            }
            .content{
                justify-content: center;
                .btn__container{
                    justify-content: center;
                }
            }
            .header__image {
                display: none;
            }
        }
    }
}
// header style 4
.header__style4 {
    margin-inline: 2rem;
    .header__style4-container{
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 3rem;
        gap: 2rem;
        .header__content {
            display: flex;
            gap: 1rem;
            padding-inline-start:2rem ;
            height: 100%;
            margin-inline-end:auto ;
            .content{
                max-width: 40rem;
                gap: 2rem;
            }
            h1{
                padding-block: 1rem 2rem;
                color: $main-color;
            }
            .shabe {
                padding-top: 3rem;
                display: flex;
                align-items: center;
            }
            .btn__container {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                padding-top:2rem ;
            }
        }
        .header__image{ 
            position: relative;
            display: flex;
            gap: 1px;
            max-width: 500px;
            overflow: hidden;
            img{
                display: block;
                max-width: 37.5rem;
                object-fit: cover;
                object-position: center;
            }
        }
        @media #{$lg-layout} {
            .shabe{
                display: none;
                img{
                    display: none;
                }
            }
            
        }
        @media #{$sm-layout} {
            .header__content{
                text-align: center;
                padding-inline: 1rem;
            }
            .intro ,.header__image {
                display: none;
            }
            .content{
                justify-content: center;
                .btn__container{
                    justify-content: center;
                }
            }
            .header__image {
                display: none;
            }
        }
    }
}

.courses__header{
    padding: 3.125rem;
    .courses__header__container {
        position: relative;
        display: grid;
        place-items:center;
        text-align: center;
        z-index: 2;
        h2{
            position: relative;
            &::before{
                position: absolute;
                content: url('../images/shape/line.png');
                left: 0;
                top: 50%;
            }
        }
        & > p{
            font-size: 1.625rem;
            padding-top: 2rem;
        }
        .blur{ 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            overflow: hidden;
            // background-color: $black;
        }
    }
    .courses__section-2 {
        display: flex;
        margin-top: 2rem;
        align-items: start;
        .content{
            margin-top: 2rem;
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            position: relative;
            z-index: 1;
            margin-inline-end: -2rem;
        }
        .header__badge {
            display: flex;
            justify-content: space-between;
            width: fit-content;
            max-width: 300px;
            border-radius: 1.125rem;
            background-color: $white;
            align-items: center;
            padding: 0 .625rem;
            p{
                padding: .5rem;
            }
            &:first-child{
                font-size: 1.25rem;

            }
            &:last-child{
                box-shadow:$shadow;
                font-size: .875rem;
                justify-content: space-between;
            }
        }
        .btn__container {
            margin-top: 1rem;
            
        }
    }
    .blur{
        width: 100%;
    }
    @media #{$sm-layout} {
        .courses__section-2 {
            order: -1;
            margin-bottom: 2rem;
        }
        h2::before{
                position: absolute;
                width: 0;
                display: none;
        }
        .content {
            margin-inline-end: -5rem;
        }
        .btn__container {
            display: none;
        }
        .image__container {
            img{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .header__badge {
            display: flex;
            justify-content: space-between;
            min-width: fit-content;
            border-radius: 1.125rem;
            background-color: $white;
            padding: 0 .625rem;
            p{
                padding: .5rem;
            }
            &:first-child{
                font-size: .875rem;
                img{
                    width: 30px;
                }

            }
            &:nth-child(2){
                box-shadow: 18.21px 0px 52.8px 0px rgba(40,43,111,.08);
                font-size: .875rem;
                justify-content: space-between;
                position: relative;

                img{
                    width: 30px;
                    align-self: flex-end;
                    margin-bottom: 1rem;

                }
            }
        }
    }
}