.latist__courses {
    background-color: #3c4fe009;
    padding-block: 3rem;
    .latist__courses__container {
        position: relative;
        .card {
            display: flex;
            margin-block: 1.5rem;
            align-items: center;
            // margin-inline:2rem ;
            width: 100%;

            .card__image {
                border-radius: 0 10px 10px 0;
                padding: 0;
                margin: 0;
                overflow: hidden;
                z-index: 1;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .card__body {
                color: $white;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                background-color: $main-color;
                padding: 1rem 1.5rem;
                margin-inline-start: -0.5rem;
                border-radius: 10px;
                h3 {
                    color: $white;
                }
                ul {
                    display: flex;
                    li {
                        flex-grow: 1;
                    }
                }
            }
        }
        .slick-next {
            position: absolute;
            left: -2rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }
        .slick-prev {
            position: absolute;
            right: -2rem;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }
    }
    @media #{$sm-layout} {
        .latist__courses__container {
            display: none;
        }
        .slick-next {
            position: absolute;
            left: 0 !important;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }
        .slick-prev {
            position: absolute;
            right: 0 !important;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
        }
    }
}

.latist__courses-mobile {
    display: none;
    .card {
        background-color: $white;
        box-shadow: $shadow;
        display: grid;
        max-width: 300px;
        .card__image {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .card__body {
            display: grid;
            gap: 2rem;
            padding: 1rem 1.5rem;
            margin-inline-start: -0.5rem;
            border-radius: 10px 0 0 10px;
            h3 {
                color: $black;
                font-size: 15px;
            }
            ul {
                display: flex;
                li {
                    flex-grow: 1;
                    font-size: 13px;
                }
            }
            .btn__solid-light {
                background-color: $main-color !important;
                color: $white;
            }
        }
    }
}

// ! services section
.services__section {
    display: grid;
    gap: 3rem;
    background-color: #ebedfc;
    padding-block: 2.5rem;
    h2 {
        margin-bottom: 1rem;
    }
    & > p {
        font-size: 1.25rem;
        font-weight: medium;
    }
    .tabs__section {
        .tabs__list {
            display: flex;
            margin-bottom: 3rem;
            li {
                flex: 1;
                text-align: center;
                border: 0;
                outline: 0;
                background-color: $white;
                padding: 0.5rem 1rem;
                border-radius: 3px;
                .tabs__link {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: $main-color;
                    font-size: 15px;
                }
            }
            .tabs__item--active {
                background-color: $main-color;
                .tabs__link {
                    color: $white;
                }
                transition: $transition;
            }
        }
        .tabs__area {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
            margin-inline: 2rem;
            .content {
                display: grid;
                gap: 1rem;
                align-content: start;
                li {
                    display: flex;
                    gap: 1rem;
                    padding-block: 0.5rem;
                    align-items: center;
                }
            }

            .statistics {
                display: flex;
                gap: 1rem;
                flex-flow: row wrap;
                justify-content: flex-start;
                position: relative;
                max-width: 400px;
                .box {
                    flex: 1 1 150px;
                    min-width: 9.375rem;
                    min-height: 9.375rem;
                    background-color: $white;
                    border-radius: 4px;
                    display: grid;
                    place-content: center;
                    text-align: center;
                    gap: 0.5rem;
                    p {
                        font-size: 15px;
                    }
                }
                &::before {
                    content: url("../images/shape/bluarrow.png");
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 100%;
                }
                &::after {
                    content: url("../images/shape/orangarrow.png");
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    right: 100%;
                }
            }
            @media #{$md-layout} {
                grid-template-columns: 1fr;
                justify-content: center;
                place-content: center;
                row-gap: 2rem;
                .image__container {
                    display: none;
                }
                .statistics {
                    margin-inline: auto;
                    max-width: 18.75rem;
                    .box {
                        min-width: 100px;
                        min-height: 100px;
                        flex: 1;
                        h3{
                            font-size: 1rem;
                        }
                    }
                }
                .content {
                    ul {
                        display: none;
                    }
                    .btn__container {
                        display: none;
                    }
                }
            }
        }
        .tabs__area.type2 {
            display: grid;
            grid-template-columns: auto-fit 1fr;
            gap: 1rem;
            margin-inline: 2rem;
            align-items: center;
            .content {
                display: grid;
                gap: 2rem;
                align-content: start;
                li {
                    display: flex;
                    gap: 1rem;
                    padding-block: 0.5rem;
                    align-items: center;
                }
            }
            @media #{$md-layout} {
                grid-template-columns: 1fr;
                justify-content: center;
                place-content: center;
                row-gap: 2rem;
                .image__container {
                    display: block;
                    margin: auto;
                    img{
                        display: block;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    order: -1;
                    ul {
                        display: none;
                    }
                    .btn__container {
                        display: none;
                    }
                }
            }
        }
    }
}

// ?============= home video container =================

.home__video__section{
    background-color: #e5efff;
    padding-top: 2rem;
    .home__video__content__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        .text{
            max-width: 700px;
        }
    }
    .video__container{
        display: grid;
        place-content: center;
        place-items: center;
        margin-top: 2rem;
        video{
            width: 100%;
        }
    }
}

// ?========= blog section ==========
.blog__section{
    padding-block: 3rem;
    h2,p{
        margin-bottom: 1rem;
    }
    .blog__container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        .bosts__container{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;
            justify-items: center;
            justify-content: center;

            .post__card{
                flex: 1 0 300px;
                gap: 1rem;                
                img{
                    display: block;
                    width: 100%;
                    object-fit: contain;
                }
                h4{
                    font-size: 20px;
                    max-width: 100%;
                    text-wrap: wrap;
                    padding: 0.5rem;
                }
                span{
                    font-size: 14px;
                    color: $black-60;
                    padding: 0.5rem;
                }

            }
        }
        .left__col{
            position: relative;
            .overlay{
                position: absolute;
                padding: 1.5rem;
                display: flex;
                align-items: flex-end;
                inset:0 0 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background: linear-gradient(#00000000 , #3C50E0);
                h3{
                    color: $white;
                }
            }
        }
        @media #{$md-layout} {
            grid-template-columns: 1fr;
            .left__col{
                display: none;
            }
        }
    }
}

// ?========== start plans section =========

.plans__section{
    background-color: rgba(247, 246, 249 , 0.33);
    padding: 1rem;
    .plans__container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .plan__card{
        flex: 1 0 300px;
        display: grid;
        max-width: 400px;
        gap: 1rem;
        padding: 1.5rem;
        background-color: $white;
        border-radius: 1.25rem;
        box-shadow: 0px 4px 9px 0px #0000000D;
        .card__header{
            display: grid;
            place-items: center;
            margin-block:2rem ;
        }
        .card__body{
            padding: 2rem;
            border-radius: .625rem;
            background-color: $light-gray;
            text-align: center;
            ul{
                display: grid;
                gap: 1rem;
                align-items: center;
                text-align: start;
                li{
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                }
            }
            & > a{
                color: $main-color;
                transition: $transition;
                &:hover{
                    text-decoration: underline;
                }
            }

        }
    }
    .plan__card.featured {
        background-color: $main;
        
    }
}