@import 'variabls';
@import 'layout';
@import 'helper';
@import 'common';
@import 'components';
@import 'navbar';
@import 'header';
@import 'footer';

@import 'typography';
@import 'home';
@import 'courses';










// @import 'animation';
// @import 'header';
// @import 'slider';
// @import 'service';
// @import 'about-us';
// @import 'section-title';
// @import 'product';
// @import 'banner';
// @import 'brand-logo';
// @import 'subscribe';
// @import 'footer';
// @import 'instagram';
// @import 'blog';
// @import 'others';
// @import 'product-details';
// @import 'breadcrumb';
// @import 'sidebar';
// @import 'shop';
// @import 'cart';
// @import 'compare';
// @import 'checkout';
// @import 'my-account';
// @import 'login-register';
// @import 'contect-us';
// @import 'blog-details';
// @import 'order-tracking';
// @import 'categories';
// @import 'en_lang';
// @import 'mobile-nav'