@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap");
.container {
  margin-inline: auto;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  max-width: 1200px;
}

.active {
  color: #3C50E0;
}

/*-- Google Font --*/
/*-- Common Style --*/
*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #FEFEFF;
  font-family: "Tajawal", sans-serif;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

p {
  padding: 0;
  margin: 0;
}

a,
button,
img,
input,
span {
  transition: all 0.3s ease 0s;
}

button,
input[type=submit] {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
  overflow: hidden;
}

.hidden {
  display: none;
}

.clear {
  clear: both;
}

.section {
  float: left;
  width: 100%;
}

.f-right {
  float: right;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.position-relative {
  position: relative;
}

/*************************
  Basic margin padding
*************************/
.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/*----------------------------------------
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder,
textarea:-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input {
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  box-shadow: none;
  padding-left: 10px;
  font-size: 14px;
  color: #737373;
  width: 100%;
}

select {
  width: 100%;
  background: transparent;
  border: 0px solid #eceff8;
  box-shadow: none;
  font-size: 14px;
  color: #737373;
}

option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
  font-size: 14px;
}

input:focus {
  background: transparent;
}

textarea {
  resize: vertical;
  background: #eceff8;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  color: #737373;
}

textarea:focus {
  background: transparent;
  border: 2px solid;
  outline: none;
}

/****************************************************************************************************
    (1) button's
    (2) link's
*/
.btn__outline {
  border: #3C50E0 1px solid;
  padding: 1rem 1.8125rem;
  color: #3C50E0;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.btn__outline:hover {
  background-color: #3C50E0;
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  .btn__outline {
    padding: 0.7rem 1rem;
  }
}

.btn__solid-light {
  background-color: #ffffff;
  border: #3C50E0 1px solid;
  padding: 0.7rem 1rem;
  color: #3C50E0;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.btn__solid-light:hover {
  background-color: #E9E9E9;
  color: #3C50E0;
}
@media only screen and (max-width: 767px) {
  .btn__solid-light {
    padding: 0.7rem 1rem;
  }
}

.btn__solid {
  background-color: #3C50E0;
  border: #3C50E0 1px solid;
  padding: 0.7rem 1.2rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.btn__solid:hover {
  background-color: #F9FAFB;
  color: #3C50E0;
}
@media only screen and (max-width: 767px) {
  .btn__solid {
    padding: 0.7rem 1rem;
  }
}

.btn__solid-success {
  background-color: #2AC769;
  border: #1AB759 1px solid;
  padding: 0.7rem 1.2rem;
  color: #ffffff;
  text-align: center;
  border-radius: 0.25rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.btn__solid-success:hover {
  background-color: #F9FAFB;
  color: #2AC769;
}
@media only screen and (max-width: 767px) {
  .btn__solid-success {
    padding: 0.7rem 1rem;
  }
}

.carusel__btn {
  display: grid;
  width: 32px;
  background-color: #FEFEFF;
  border: 1px solid #3C50E0;
  aspect-ratio: 1;
  place-content: center;
  place-items: center;
  border-radius: 100%;
  position: absolute;
}

.course__card {
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #ffffff;
  margin-inline: auto;
}
.course__card .course__info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.course__card .course__info p {
  font-size: 14px;
  font-weight: medium;
}
.course__card .course__info ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 1rem;
}
.course__card .course__info ul li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

section.navbar {
  padding-block: 2rem 1rem;
  padding-inline: 1rem;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #FEFEFF;
}
section.navbar .navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  height: -moz-fit-content;
  height: fit-content;
}
section.navbar .nav__links-container {
  display: flex;
  margin-inline-end: auto;
}
section.navbar .nav__links-container ul {
  display: flex;
  gap: 2.1875rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
@media only screen and (max-width: 1199px) {
  section.navbar .nav__links-container {
    display: none;
  }
}
section.navbar .nav__link:hover {
  color: #3C50E0;
}
@media only screen and (max-width: 767px) {
  section.navbar {
    padding-block: 0.7rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
  }
}

.header__style1-container {
  background-color: #F9FAFB;
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.header__style1-container .header__content {
  display: flex;
  gap: 2rem;
  padding-inline-start: 2rem;
  height: 100%;
}
.header__style1-container .header__content .content {
  max-width: 40rem;
  gap: 2rem;
}
.header__style1-container .header__content .shabe {
  padding-top: 2rem;
}
.header__style1-container .header__content .btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 1199px) {
  .header__style1-container .intro, .header__style1-container .header__image {
    display: none;
  }
  .header__style1-container .shabe {
    display: none;
  }
  .header__style1-container .shabe img {
    display: none;
  }
  .header__style1-container .header__content {
    text-align: center;
    padding-inline: 1rem;
  }
  .header__style1-container .content {
    justify-content: center;
  }
  .header__style1-container .content .btn__container {
    justify-content: center;
    padding-top: 1rem;
  }
  .header__style1-container .content .btn__container .arrow__container {
    display: none;
  }
}

.header__style2-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__style2-container .header__content {
  display: flex;
  gap: 1rem;
  padding-inline-start: 2rem;
  height: 100%;
  margin-inline-end: auto;
}
.header__style2-container .header__content .content {
  max-width: 40rem;
  gap: 2rem;
}
.header__style2-container .header__content h1 {
  padding-block: 1rem 2rem;
}
.header__style2-container .header__content .shabe {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.header__style2-container .header__content .btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
}
@media only screen and (max-width: 1199px) {
  .header__style2-container .intro, .header__style2-container .header__image {
    display: none;
  }
  .header__style2-container .shabe {
    display: none;
  }
  .header__style2-container .shabe img {
    display: none;
  }
  .header__style2-container .header__content {
    text-align: center;
    padding-inline: 1rem;
  }
  .header__style2-container .content {
    justify-content: center;
  }
  .header__style2-container .content .btn__container {
    justify-content: center;
  }
}

.header__style3 {
  margin-inline: 2rem;
}
.header__style3 .header__style3-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  gap: 2rem;
}
.header__style3 .header__style3-container .header__content {
  display: flex;
  gap: 1rem;
  padding-inline-start: 2rem;
  height: 100%;
  margin-inline-end: auto;
}
.header__style3 .header__style3-container .header__content .content {
  max-width: 40rem;
  gap: 2rem;
}
.header__style3 .header__style3-container .header__content h1 {
  padding-block: 1rem 2rem;
}
.header__style3 .header__style3-container .header__content .shabe {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.header__style3 .header__style3-container .header__content .btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
}
.header__style3 .header__style3-container .header__image {
  position: relative;
  padding: 0 2rem 2rem 0;
}
.header__style3 .header__style3-container .header__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__style3 .header__style3-container .header__image .card {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem;
  display: grid;
  border-radius: 5px;
  background-color: #3C50E0;
  display: grid;
}
.header__style3 .header__style3-container .header__image .card div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  gap: 2rem;
}
.header__style3 .header__style3-container .header__image .card div h2 {
  font-size: 4.375rem;
  color: #ffffff;
}
.header__style3 .header__style3-container .header__image .card div span {
  display: grid;
  place-items: center;
  background-color: #ffffff;
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100%;
  color: #182525;
}
.header__style3 .header__style3-container .header__image .card p {
  font-size: 1.5rem;
  color: #ffffff;
}
@media only screen and (max-width: 1199px) {
  .header__style3 .header__style3-container .shabe {
    display: none;
  }
  .header__style3 .header__style3-container .shabe img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header__style3 .header__style3-container .header__content {
    text-align: center;
    padding-inline: 1rem;
  }
  .header__style3 .header__style3-container .intro, .header__style3 .header__style3-container .header__image {
    display: none;
  }
  .header__style3 .header__style3-container .content {
    justify-content: center;
  }
  .header__style3 .header__style3-container .content .btn__container {
    justify-content: center;
  }
  .header__style3 .header__style3-container .header__image {
    display: none;
  }
}

.header__style4 {
  margin-inline: 2rem;
}
.header__style4 .header__style4-container {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  gap: 2rem;
}
.header__style4 .header__style4-container .header__content {
  display: flex;
  gap: 1rem;
  padding-inline-start: 2rem;
  height: 100%;
  margin-inline-end: auto;
}
.header__style4 .header__style4-container .header__content .content {
  max-width: 40rem;
  gap: 2rem;
}
.header__style4 .header__style4-container .header__content h1 {
  padding-block: 1rem 2rem;
  color: #3C50E0;
}
.header__style4 .header__style4-container .header__content .shabe {
  padding-top: 3rem;
  display: flex;
  align-items: center;
}
.header__style4 .header__style4-container .header__content .btn__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 2rem;
}
.header__style4 .header__style4-container .header__image {
  position: relative;
  display: flex;
  gap: 1px;
  max-width: 500px;
  overflow: hidden;
}
.header__style4 .header__style4-container .header__image img {
  display: block;
  max-width: 37.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media only screen and (max-width: 1199px) {
  .header__style4 .header__style4-container .shabe {
    display: none;
  }
  .header__style4 .header__style4-container .shabe img {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .header__style4 .header__style4-container .header__content {
    text-align: center;
    padding-inline: 1rem;
  }
  .header__style4 .header__style4-container .intro, .header__style4 .header__style4-container .header__image {
    display: none;
  }
  .header__style4 .header__style4-container .content {
    justify-content: center;
  }
  .header__style4 .header__style4-container .content .btn__container {
    justify-content: center;
  }
  .header__style4 .header__style4-container .header__image {
    display: none;
  }
}

.courses__header {
  padding: 3.125rem;
}
.courses__header .courses__header__container {
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;
  z-index: 2;
}
.courses__header .courses__header__container h2 {
  position: relative;
}
.courses__header .courses__header__container h2::before {
  position: absolute;
  content: url("../images/shape/line.png");
  left: 0;
  top: 50%;
}
.courses__header .courses__header__container > p {
  font-size: 1.625rem;
  padding-top: 2rem;
}
.courses__header .courses__header__container .blur {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  overflow: hidden;
}
.courses__header .courses__section-2 {
  display: flex;
  margin-top: 2rem;
  align-items: start;
}
.courses__header .courses__section-2 .content {
  margin-top: 2rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-inline-end: -2rem;
}
.courses__header .courses__section-2 .header__badge {
  display: flex;
  justify-content: space-between;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  border-radius: 1.125rem;
  background-color: #ffffff;
  align-items: center;
  padding: 0 0.625rem;
}
.courses__header .courses__section-2 .header__badge p {
  padding: 0.5rem;
}
.courses__header .courses__section-2 .header__badge:first-child {
  font-size: 1.25rem;
}
.courses__header .courses__section-2 .header__badge:last-child {
  box-shadow: 18.21px 0px 52.8px 0px rgba(40, 43, 111, 0.08);
  font-size: 0.875rem;
  justify-content: space-between;
}
.courses__header .courses__section-2 .btn__container {
  margin-top: 1rem;
}
.courses__header .blur {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .courses__header .courses__section-2 {
    order: -1;
    margin-bottom: 2rem;
  }
  .courses__header h2::before {
    position: absolute;
    width: 0;
    display: none;
  }
  .courses__header .content {
    margin-inline-end: -5rem;
  }
  .courses__header .btn__container {
    display: none;
  }
  .courses__header .image__container img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .courses__header .header__badge {
    display: flex;
    justify-content: space-between;
    min-width: -moz-fit-content;
    min-width: fit-content;
    border-radius: 1.125rem;
    background-color: #ffffff;
    padding: 0 0.625rem;
  }
  .courses__header .header__badge p {
    padding: 0.5rem;
  }
  .courses__header .header__badge:first-child {
    font-size: 0.875rem;
  }
  .courses__header .header__badge:first-child img {
    width: 30px;
  }
  .courses__header .header__badge:nth-child(2) {
    box-shadow: 18.21px 0px 52.8px 0px rgba(40, 43, 111, 0.08);
    font-size: 0.875rem;
    justify-content: space-between;
    position: relative;
  }
  .courses__header .header__badge:nth-child(2) img {
    width: 30px;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}

footer {
  border-top: 1px solid #DBE0DE;
  padding-block: 1rem;
}
footer .footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .footer__container .social__container {
  display: flex;
  gap: 0.625rem;
}
footer .footer__container .copy__rights {
  font-size: 0.875rem;
  color: #8C8C8C;
}
footer .footer__container .footer__links {
  display: flex;
  gap: 0.625rem;
  font-weight: medium;
}
footer .footer__container .footer__links li:hover a {
  color: #3C50E0;
}
@media only screen and (max-width: 767px) {
  footer .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
  footer .footer__container .copy__rights {
    order: 3;
  }
}

h1 {
  font-weight: bold;
  font-size: 2.375rem;
  color: #182525;
}

h2 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #182525;
}

h3 {
  font-weight: bold;
  font-size: 1.5625rem;
  color: #182525;
}

.intro {
  color: #3C50E0;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.intro span {
  height: 21px;
  width: 3px;
  display: block;
  background-color: #3C50E0;
}

.new__courses {
  margin-top: 3.75rem;
}
.new__courses .content {
  display: grid;
  gap: 1rem;
  padding-bottom: 2rem;
}
.new__courses .new__courses-container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 2rem;
}
.new__courses .slide__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.new__courses .slide__content .image__container {
  overflow: hidden;
  border: 1px solid #3C50E0;
  border-radius: 4px;
}
.new__courses .slide__content .image__container img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}
.new__courses .slide__content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-color: #3C50E0;
  padding: 2.25rem 2rem;
  border-radius: 10px 0 0 10px;
  color: #ffffff;
}
.new__courses .slide__content .card ul {
  display: flex;
  gap: 2rem;
}
.new__courses .slide__content .card ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.new__courses .new__courses-carusel {
  position: relative;
}
.new__courses .new__courses-carusel .slick-next {
  position: absolute;
  top: 50%;
  left: 0;
}

.courses__list {
  background-color: rgba(247, 246, 249, 0.5);
  padding-block: 3rem;
}
.courses__list .title {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
}
.courses__list .title p {
  font-size: 1.25rem;
}
.courses__list .courses__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 2rem;
}/*# sourceMappingURL=main.css.map */