/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

/*--vars--*/
:root{
    /* +Font Family */
    --font-family:'Tajawal', sans-serif;

    /* +black */
    --main-color:#3C50E0;
    --body-color:#FEFEFF;

    /* +black */
    --black     : #182525 ; 
    --black-80  : #525C57 ; 
    --black-60  : #939F99 ; 
    --black-40  : #CACFCE ; 
    --black-20  : #DBE0DE ; 
    --black-10  : #E6EAE9 ; 
    --black-5   : #F9FAFA ; 
    --black-o-70: #000000b1;

    /* +white */
    --white     : #ffffff ; 
    --white-o-70: #ffffffb1;

    /* +gray */
    --gray      : #E9E9E9 ; 
    --light-gray: #F9FAFB;

    /* +error  */
    --error      : #FB4E4E ; 
    --error-light: #FF6262 ; 
    --error-dark : #E93C3C;

    /*+ success  */
    --success      : #2AC769 ; 
    --success-light: #40DD7F ; 
    --success-dark : #1AB759;

    /* +warning  */
    --warning      : #F6A609 ; 
    --warning-light: #FFBC1F ; 
    --warning-dark : #E89806;

    /* +transition */
    --transition: all .3s ease 0s;
}


/* -------reset-------- */
*,*::before,*::after{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: none;
    font-family: inherit;
    list-style: none;
    text-decoration: none;
}
html,
body {
    height: 100%;
    background-color:var(--body-color) ;
    font-family: var(--font-family);
}

a,
button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    color: var(--black);
}


a,
button,
img,
input,
span {
    transition:var(--transition);
}



/* -------common------- */


/*?################ layout ################### */
/*! ------------ navbar ------------ */

/*! ------------ footer ------------ */

/*?################ home style ################### */
/*! ------------ home header ------------ */
/*! ------------ home courses ------------ */
/*! ------------ home services ------------ */
/*! ------------ home video ------------ */
/*! ------------ home blog ------------ */  
/*! ------------ home plans ------------ */  
/*! ------------ home CTA ------------ */  